:root {
    --bg-color: #ffffff;
    --text-color: #000000; 
    --one-color: #008559;
    --two-color: #D7ead9;
    --three-color: #f2e1f0;    
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}


@font-face {
    font-family: 'Orgon';
    src: url('Orgon-Bold.otf') format('opentype'),
         url('Orgon-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'Orgon';
    src: url('Orgon-ExtraBold.otf') format('opentype'),
         url('Orgon-ExtraBold.ttf') format('truetype');
    font-weight: 800; /* Adjust the font weight as needed */
}

@font-face {
    font-family: 'Orgon';
    src: url('Orgon-Regular.otf') format('opentype'),
         url('Orgon-Regular.ttf') format('truetype');
    font-weight: normal;
}

.sidebar {
    width:205px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    background-color: var(--one-color) ;
}

.main-content {
    margin-left: 205px;
}