:root {
    --bg-color: #ffffff;
    --text-color: #000000; 
    --one-color: #008559;
    --two-color: #D7ead9;
    --three-color: #f2e1f0;    
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
