body {
    margin: 0;
    padding: 0;
    font-family: "orgon", sans-serif;
  }

  #item-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .item {
    flex: 0 0 calc(33.33% - 20px); /* Adjust the width based on your preference */
    margin: 10px;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
    border-radius: 10px; /* Add rounded corners */
    overflow: hidden; /* Hide overflow to keep rounded corners */
  }

  img {
    max-width: 100%;
    height: auto;
    border-radius: 10px; /* Add rounded corners to the image */
  }

  .modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    z-index: 1;
    border-radius: 10px; /* Add rounded corners to the modal */
    max-width: 80%; /* Adjust the max-width based on your preference */
  }

  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }