body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    background-color: #D8EAD9;
}

.contacts {
    display: flex;
    flex-direction: column;
    background-color:#008559; 
    color: #fff;
    padding: 20px;
    width: auto;
    font-weight: bold; 
    color: #070707;
    margin-left: 200px;
}

.contacts img {
    height: 150px;
    width: auto;
}

.contact {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    margin-bottom: 10px;
    align-items: center;
}


.chat-section {
    flex: 1;
    padding: 20px;
}
.chat-container {
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
}
.chat-header {
    background-color: #008559;
    color: #fff;
    padding: 10px;
    text-align: center;
}
.chat-messages {
    padding: 10px;
    overflow-y: scroll;
    min-height: 50px; 
    width: auto;
}
.message {
    margin: 10px;
    padding: 10px;
    border-radius: 12px;
    overflow: hidden;
}
.sent {
    background-color: #D7ead9;
    color: #000;
    text-align: right;
}
.received {
    background-color: #f0f0f0;
    color: #000;
    text-align: left;
}
.message img {
    height: 100px;
    width: auto;
}

.sender {
    font-weight: bold;
    color: #3b5998; 
}
.chat-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f0f0f0;
}
.chat-input input {
    flex: 1;
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.chat-input button {
    background-color: #008559;
    color: #D7ead9;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
}
/* Add more styling as needed */



